body {
  
  margin: 0;
  padding: 0;
  color: #ccc;
  

  
}
h1 {
  text-align: center;
  color: #ccc;
}
.cuadrado{
   width: 400px;
   height: 400px;
   margin: 0 auto;
}
.fondo {
  background-color: white;
}